@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Quando&display=swap');


.header-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider__img {
    display:none;
}  