/* Variables */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Quando&display=swap");
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Lato, sans serif;
  font-weight: 300;
  color: #282219;
  background-color: #FBF6EF;
  font-size: 0.9em;
  height: 100%;
  margin: 0 0 350px;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: Quando, serif;
}

h1 {
  font-size: 2.2em;
  color: #FFFDFB;
  margin: 0;
}

h2 {
  font-size: 2em;
  text-align: center;
  margin: 40px 0 50px;
}

h3 {
  font-size: 1.8em;
  margin: 10px 0 20px;
  text-align: center;
}

h4 {
  font-size: 1.1em;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: #282219;
}

.padding-top {
  padding-top: 40px;
}

.margin-top {
  margin-top: 80px !important;
}

.container {
  width: 90%;
  margin: 40px auto -50px;
  overflow: hidden;
}

.container img {
  width: 100%;
}

.container h4 {
  margin-bottom: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.cover {
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  display: inline-block;
  background-color: #D4974C;
  font-size: 1em;
  color: #FFFDFB;
  border: none;
  border-radius: 5px;
  position: relative;
  padding: 5px 15px;
}

button:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: -3px;
  right: -3px;
  border: 1px solid #282219;
  padding: 0;
  margin: 0;
}

button:hover {
  border-radius: 0;
}

button:active {
  background-color: #bf7e2e;
}

button:hover:after {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#btn--round:hover:after {
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#btn--round {
  display: block;
  margin: 20px auto;
  border-radius: 50%;
  height: 42px;
}

.btn--large {
  padding: 10px 30px;
  margin-top: 50px;
  width: 100%;
}

#btn--delete {
  background-color: #70675C;
}

#btn--delete:active, #btn--delete:focus {
  background-color: #282219;
}

nav {
  overflow: auto;
}

nav #logo {
  float: left;
  margin: 15px;
  width: 120px;
}

nav #toggle {
  float: right;
  margin: 15px;
  width: 38px;
}

nav #cross {
  display: none;
}

nav #nav-links {
  display: none;
  margin-bottom: 0;
}

nav #nav-links a {
  display: block;
  color: #FFFDFB;
  padding: 15px;
}

nav #nav-links.toggle-menu {
  display: inline;
}

.nav-border {
  -webkit-box-shadow: 0px 2px 7px #e8e6e3;
          box-shadow: 0px 2px 7px #e8e6e3;
}

ul {
  list-style-type: none;
  display: inline-block;
  width: 100%;
  padding: 0;
}

footer {
  position: absolute;
  width: 100%;
  background-color: #70675C;
  color: #FFFDFB;
  height: 250px;
  padding: 5px 0 20px;
  left: 0;
  bottom: 0;
}

footer ul {
  display: block;
  width: 40%;
  margin: 15px auto;
  font-weight: 500;
}

footer ul a {
  text-decoration: none;
  color: #FFFDFB;
  padding: 10px;
}

footer ul a:hover,
footer ul a:active {
  color: #D4974C;
}

footer span {
  display: block;
  text-align: center;
  font-size: 0.8em;
}

.hero {
  background: url("background-img.jpg") no-repeat center center;
  height: 100vh;
  position: relative;
  background-size: cover;
  overflow-x: hidden;
}

.hero .hero__text {
  margin: 0 auto;
  -webkit-transform: translateY(70%);
          transform: translateY(70%);
  width: 90%;
}

.hero .hero__text .hero__search input,
.hero .hero__text .hero__search select {
  display: block;
  width: 75%;
  border: none;
  padding: 10px 50px 10px 10px;
  margin: 10px auto;
  border: 1px solid #e8e6e3;
  font-family: Lato, sans serif;
  letter-spacing: 0.1em;
  overflow: hidden;
  color: #70675C;
}

.hero .hero__text .hero__search ::-webkit-input-placeholder {
  color: #70675C;
  opacity: 1;
}

.hero .hero__text .hero__search :-ms-input-placeholder {
  color: #70675C;
  opacity: 1;
}

.hero .hero__text .hero__search ::-ms-input-placeholder {
  color: #70675C;
  opacity: 1;
}

.hero .hero__text .hero__search ::placeholder {
  color: #70675C;
  opacity: 1;
}

.hero .hero__text .hero__search *:focus {
  outline: none;
}

.form-container {
  background-color: #FFFDFB;
  width: 90%;
  margin: 0 auto 80px;
  padding: 5px 0 30px;
  -webkit-box-shadow: 0 1px 4px #70675C;
          box-shadow: 0 1px 4px #70675C;
}

.form-container h4 {
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  width: 90%;
  margin: 30px auto 35px;
  line-height: 20px;
}

.form-container h3 {
  font-size: 1.3em;
  width: 90%;
  margin: 15px auto 35px;
  padding-bottom: 15px;
  border-bottom: 1px solid #282219;
}

.form-container p {
  font-size: 0.9em;
  font-weight: 500;
  width: 90%;
  margin: 30px auto 50px;
  line-height: 23px;
}

.form-container input,
.form-container textarea,
.form-container select {
  display: block;
  background-color: #fff;
  padding: 10px;
  margin: 15px auto;
  border: 1px solid #e8e6e3;
  width: 90%;
  font-family: Lato, sans serif;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.form-container input:focus,
.form-container textarea:focus {
  outline: none;
  -webkit-box-shadow: 0 0 4px #d1cdc7;
          box-shadow: 0 0 4px #d1cdc7;
}

.form-container ::-webkit-input-placeholder {
  color: #a39a8f;
  opacity: 1;
}

.form-container :-ms-input-placeholder {
  color: #a39a8f;
  opacity: 1;
}

.form-container ::-ms-input-placeholder {
  color: #a39a8f;
  opacity: 1;
}

.form-container ::placeholder {
  color: #a39a8f;
  opacity: 1;
}

.form-container label {
  position: relative;
  display: block;
  margin: 25px auto 10px;
  width: 90%;
  font-size: 0.9em;
  font-weight: 700;
}

.form-container label input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.form-container label input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.form-container label .checkbox,
.form-container label .radio {
  position: absolute;
  top: 0;
  left: 0;
  width: 14.55px;
  height: 14.55px;
  background-color: #fff;
  border: 1px solid #e8e6e3;
}

.form-container label .checkbox::after,
.form-container label .radio::after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 10px;
  border: solid #282219;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.form-container label .radio {
  border-radius: 50%;
}

.form-container label:hover .checkbox,
.form-container label:hover .radio {
  background-color: #FBF6EF;
}

.form-container label input[type="checkbox"]:checked ~ .checkbox {
  background-color: #D4974C;
}

.form-container label input[type="checkbox"]:checked ~ .checkbox::after {
  display: block;
}

.form-container .padding-left {
  padding-left: 40px;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: 500;
}

.form-container button {
  width: 90%;
  display: block;
  margin: 40px auto;
  padding: 10px;
}

.form-container .small-text {
  font-size: 0.8em;
  display: block;
  margin: 0 auto;
  width: 90%;
}

.form-container .error {
  display: none;
}

.form-container a:hover {
  color: #D4974C;
}

.red {
  color: #b10909;
}

.search-container {
  width: 100%;
  margin-top: 20px;
}

.search-container .form-container {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #FBF6EF;
  margin-bottom: 10px;
}

.search-results {
  background-color: #FFFDFB;
  margin-bottom: -100px;
  padding-top: 20px;
}

.search-results .card {
  width: 90%;
  display: block;
  margin: 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-results .card .card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-results .card .card--horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0 5px;
}

.search-results .card .card--horizontal p {
  margin: 0;
}

.search-results .card .card--horizontal .card__seating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.search-results .card .card--horizontal .card__seating i {
  padding: 0 7px;
}

.search-results .page-numbers {
  font-weight: 500;
  font-size: 0.8em;
  margin-left: 20px;
}

.search-results .pagination {
  text-align: center;
  padding-bottom: 30px;
}

.border-bottom {
  border-bottom: 1px solid #e8e6e3;
  margin: 25px;
}

.horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px auto 30px;
  width: 80%;
}

.horizontal p {
  margin: 0;
}

.horizontal .venue__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.horizontal .venue__icons i {
  padding: 0 7px;
}

.venue-spesific,
.sidebar {
  width: 90%;
  display: block;
  margin: auto;
}

.venue-spesific h4,
.sidebar h4 {
  margin-top: 40px;
}

.venue-spesific p,
.sidebar p {
  font-weight: 500;
  font-size: 0.9em;
}

.venue-spesific .border-bottom,
.sidebar .border-bottom {
  width: 100%;
  margin: 35px 0;
}

.slider__arrow-right,
.slider__arrow-left {
  color: #FFFDFB;
  display: none;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8em;
  margin: 30px 0 35px 50px;
}

.breadcrumb li {
  padding-right: 10px;
}

@media (min-width: 600px) and (max-width: 1020px) {
  nav #logo {
    width: 120px;
    margin: 18px 0 15px 30px;
  }
  nav #toggle {
    display: none;
  }
  nav #nav-links {
    display: block;
    margin-bottom: 0;
  }
  nav #nav-links li {
    font-weight: 500;
    float: right;
  }
  nav #nav-links li a {
    padding: 5px 15px;
  }
  nav #nav-links li .add-venue {
    padding-top: 9px;
  }
  nav #nav-links li .add-venue:hover {
    color: #D4974C;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  nav #nav-links li .add-venue-dark {
    color: #282219;
    padding-top: 9px;
  }
  nav #nav-links li .add-venue-dark:hover {
    color: #D4974C;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  footer {
    height: 230px;
  }
  footer ul {
    width: 80%;
    margin: 15px auto 0;
  }
  footer span {
    margin-right: 50px;
    text-align: right;
  }
  .hero {
    height: 600px;
  }
  .hero .hero__text {
    margin: 0 auto;
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
    width: 90%;
    font-size: 1.3em;
  }
  .hero .hero__text .hero__search form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hero .hero__text .hero__search input,
  .hero .hero__text .hero__search select {
    font-size: 0.6em;
    width: 33.33%;
  }
  .hero .hero__text #btn--round {
    height: 35px;
    width: 35px;
    padding: 0;
  }
  .hero .hero__text #btn--round i {
    font-size: 0.7em;
  }
  .container h2 {
    text-align: start;
  }
  .container .venue-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .venue-links img {
    height: 200px;
  }
  .container .venue-links .venue-link-1 {
    width: 60%;
    padding: 0 5px;
  }
  .container .venue-links .venue-link-2 {
    width: 40%;
    padding: 0 5px;
  }
  .container .venue-links .venue-link-3 {
    width: 40%;
    padding: 0 5px;
  }
  .container .venue-links .venue-link-4 {
    width: 60%;
    padding: 0 5px;
  }
  .form-container__log-in {
    width: 400px;
  }
  .form-container__contact {
    width: 500px;
  }
  .form-container__contact h4 {
    font-size: 0.9em;
  }
  .search-container .padding-left {
    margin: 10px 0 10px 18px;
  }
  .search-results {
    margin-bottom: -120px;
  }
  .search-results .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .search-results .cards .card {
    width: 30%;
  }
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .grid div {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .venue-description__heading {
    float: left;
    margin-left: 10px;
  }
  .venue-description__heading .horizontal {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 100%;
    margin-left: 40px;
  }
  .venue-description__heading .horizontal .venue__icons {
    padding-left: 30px;
  }
}

@media (min-width: 1020px) {
  nav #logo {
    width: 120px;
    margin: 18px 0 15px 30px;
  }
  nav #toggle {
    display: none;
  }
  nav #nav-links {
    display: block;
    margin-bottom: 0;
  }
  nav #nav-links li {
    font-weight: 500;
    float: right;
  }
  nav #nav-links li a {
    padding: 5px 15px;
  }
  nav #nav-links li .add-venue {
    padding-top: 9px;
  }
  nav #nav-links li .add-venue:hover {
    color: #D4974C;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  nav #nav-links li .add-venue-dark {
    color: #282219;
    padding-top: 9px;
  }
  nav #nav-links li .add-venue-dark:hover {
    color: #D4974C;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  footer {
    height: 200px;
  }
  footer ul {
    width: 80%;
    margin: 10px auto 0;
  }
  footer span {
    margin-right: 50px;
    text-align: right;
  }
  .hero {
    height: 700px;
  }
  .hero .hero__text {
    margin: 0 auto;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    width: 70%;
    font-size: 1.3em;
  }
  .hero .hero__text .hero__search {
    width: 80%;
    float: right;
  }
  .hero .hero__text .hero__search form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 94%;
  }
  .hero .hero__text .hero__search input,
  .hero .hero__text .hero__search select {
    font-size: 0.6em;
    width: 33.33%;
  }
  .hero .hero__text #btn--round {
    position: absolute;
    right: 0;
    height: 35px;
    width: 35px;
    margin: 10px 0;
    padding: 0;
  }
  .hero .hero__text #btn--round i {
    font-size: 0.7em;
  }
  .container {
    max-width: 900px;
  }
  .container h2 {
    text-align: start;
  }
  .container .venue-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .venue-links img {
    height: 200px;
  }
  .container .venue-links .venue-link-1 {
    width: 60%;
    padding: 0 5px;
  }
  .container .venue-links .venue-link-2 {
    width: 40%;
    padding: 0 5px;
  }
  .container .venue-links .venue-link-3 {
    width: 40%;
    padding: 0 5px;
  }
  .container .venue-links .venue-link-4 {
    width: 60%;
    padding: 0 5px;
  }
  .form-container__log-in {
    width: 400px;
  }
  .form-container__contact {
    width: 500px;
  }
  .form-container__contact h4 {
    font-size: 0.9em;
  }
  .form-container {
    width: 800px;
  }
  .search-container .padding-left {
    margin: 10px 0 10px 18px;
  }
  .search-results {
    margin-bottom: -120px;
  }
  .search-results .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .search-results .cards .card {
    width: 30%;
  }
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .grid div {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .venue-description__heading {
    float: left;
    margin-left: 10px;
  }
  .venue-description__heading .horizontal {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 100%;
    margin-left: 40px;
  }
  .venue-description__heading .horizontal .venue__icons {
    padding-left: 30px;
  }
}
/*# sourceMappingURL=styles.css.map */